<div>
    <h3>
        <a href="detail1.html">Chili Garlic Noodles</a>
    </h3>
    <div>
        <img src="https://joyfuldumplings.com/wp-content/uploads/garlic-chili-noodles-3.jpg" alt="Chili garlic noodles">
    </div>
    <div>4.8 stars</div>
</div>
</div>
