@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Pacifico&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    padding: 16px;
    margin-bottom: 10px;
    margin: auto
}

nav {
    border-bottom: solid black;
    padding: 16px;
    text-align: center;
}


img {
    height: 200px;
    width: 195px;
    margin: 16px;
    margin-bottom: 0;
    margin-top: 0px;

}


footer {
    padding: 20px;
    text-align: center;
    /* left: 40%;
    right: ; */
    bottom: 0;

}

.food-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

h3 > a {
    color: orange;
    font-family: montserrat alternates;
}

#footer {
    color: black;
    background-color: pink;
    font-family: pacifico;
    margin: auto;
}

.head-of-page {
    color: pink;
    text-align: center;
    font-family: pacifico;
    font-size: 45px;
    border: 0px;
    margin: 0px;
}

.head-blurb {
    text-align: center;
    margin-top: 0px;
    font-family: montserrat alternates;
}

.navigation {
    background-color: orange;
}

.link-nav-main {
    color: black;
    font-size: 22px;
    font-family: montserrat alternates;
    margin: 10px;

}
.link-nav-about {
    color: black;
    font-size: 22px;
    font-family: montserrat alternates;
    margin: 10px;

}
.link-nav-suggest {
    color: black;
    font-size: 22px;
    font-family: montserrat alternates;
    margin: 10px;

}

.stars {
    margin-left: 16px;
}

.food-list-link {
    margin-left: 16px
}

.food-name {
    color: orange;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: powderblue;
}

a:active {
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: rgb(0, 0, 0, 0.2);
}

.team-images {
    width: 225px;
    height: 300px;
}

.header3-about {
    color: orange;
    text-align: center;
    font-family: montserrat alternates;
    font-size: 22px;
}

.who-we-are-blurb {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.meet-team {
    display: grid;
    grid-template-columns: repeat(2, 275px);
    align-items: center;
    justify-content: center;

}

#marco {
    margin: 10px;

}

#maria {
    margin: 10px;
}

.chef-blurb {
    margin: 10px;
    margin-left: 16px;
}

.submit-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:350px;
    width: 500px;
    margin
}

.submit-blurb {
    display: block;
    margin: auto;
    width: 500px;
    text-align: center;
}
